<title>Listagem de Autores, Orientadores e Co-Orientadores</title>
{% extends 'base.html'%}
{% block content %}
    <div class="my-4">
        <h2> Listagem de Autores, Orientadores e Coorientadores </h2>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Curso</th>
                <th scope="col">Universidade</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for pessoa in lista %}
            <tr>
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.curso }}</td>
                <td>{{ pessoa.universidade }}</td>
                <td>
                    <a href="{% url 'core_editar' pessoa.id %}" class="btn btn-primary btn-sm active" role="button">Editar</a>
                    <a href="{% url 'core_apagar' pessoa.id %}" class="btn btn-danger btn-sm active" role="button">Apagar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}