{% extends 'base.html'%}
{% block content %}
    <h1> Listagem de Autores, Orientadores e Co-Orientadores </h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Curso</th>
                <th scope="col">Universidade</th>
            </tr>
        </thead>
        <tbody>
        {% for indice, pessoa in lista.items %}
            <tr>
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.curso }}</td>
                <td>{{ pessoa.universidade }}</td>
                <td><a href="{% url 'core_editar' pessoa.id %}"><button>Editar</button></a></td>
                <td><a href="{% url 'core_apagar' pessoa.id %}"><button>Apagar</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}