<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    {{ pessoa.id }} - {{ pessoa.nome }} 

     <form action="{% url 'update' pessoa.id %}" method="post">
        {% csrf_token %}

        <input type="text" name="nome" value="{{pessoa.nome}}">

        <select name="tipo" value="{{pessoa.tipo}}">
            <option value=1>Autor</option>
            <option value=2>Coautor</option>
            <option value=3>Discente</option>
        </select>

        <input type="text" name="curso" value="{{pessoa.curso}}">
        <input type="text" name="universidade" value="{{pessoa.universidade}}">
        <input type="email" name="email" value="{{pessoa.email}}">
        <input type="text" name="curriculo" value="{{pessoa.curriculo}}">
        <input type="text" name="google_scholar" value="{{pessoa.google_scholar}}">
        <input type="text" name="research_gate" value="{{pessoa.research_gate}}">
        <input type="text" name="linkedin" value="{{pessoa.linkedin}}">
        <input type="text" name="orcid" value="{{pessoa.orcid}}">
        <input type="text" name="github" value="{{pessoa.github}}">
        <button type="submit">Editar</button>
    </form>

</body>
</html>