<title>Listagem de Monografias</title>
{% extends 'base.html'%}
{% block content %}
    <div class="my-4">
        <h2>Listagem de Monografias</h2>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Orientador</th>
                <th scope="col">Co-Orientador</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for indice, monografia in lista.items %}
                <tr>
                    <td>{{ monografia.titulo}}</td>
                    <td>{{ monografia.autor }}</td>
                    <td>{{ monografia.orientador }}</td>
                    <td>{{ monografia.coorientador }}</td>
                    <td>
                        <a href="{% url 'monografia_editar' monografia.id %}" class="btn btn-primary btn-sm active" role="button">Editar</a>
                        <a href="{% url 'monografia_apagar' monografia.id %}" class="btn btn-danger btn-sm active" role="button">Apagar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}