<style>
  body {
    padding: 0;

    margin: 0;
  }

  nav {
    width: 100%;

    display: flex;

    position: fixed;

    background-color: #00ff;

    z-index: 99;
  }

  nav a {
    color: #fff;

    margin: auto 20px;

    text-decoration: none;

    font-weight: bold;
  }

  nav li {
    float: left;

    list-style: none;
  }
  li {
    border-right: 1px solid #bbb;
  }

  li:last-child {
    border-right: none;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item active">
        <a class="nav-link active" aria-current="page" href="{% url 'index' %}"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          href="{% url 'core_adicionar' %}"
          >Cadastrar Autores</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          href="{% url 'monografia_adicionar' %}"
          >Cadastrar Monografias</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          href="{% url 'monografia_pesquisar' %}"
          >Pesquisar Monografias</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          href="{% url 'monografia_index' %}"
          >Listagem de Monografias</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          href="{% url 'core_index' %}"
          >Listagem de Autores</a
        >
      </li>
    </ul>
  </div>
</nav>
